<%= javascript_tag :defer => 'defer' do -%>
	$('#current_branch').html('<%= user_session['current_branch'].name %>');
<% end -%>

<div class="span-17">
	<div class="span-17">
		
	  <% if @signup.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@signup.errors.count, "error") %> prohibited this item from being saved:</h2>

	      <ul>
	      <% @signup.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
		
		
		
		<%= form_for @signup do |f| -%>
		
			<%= f.hidden_field :signup_months %>
			<%= f.hidden_field :plan_id %>
			<div class="span-17 heading">
				Enter Personal Details
			</div>
			
			<div>
				<%= f.label :name %>
				<%= f.text_field :name, :class => 'title simple', :maxlength => 100, :style => 'width:626px' %>
			</div>

			<div>
				<%= f.label :address %>
				<%= f.text_field :address, :class => 'title simple', :maxlength => 100, :style => 'width:612px' %>
			</div>

			<div>
				<%= f.label 'Phone' %>
				<%= f.label '(M)'.capitalize() %> <%= f.telephone_field :mphone, :class => 'title simple', :maxlength => 10, :style => 'width:20%' %>
				<%= f.label '(L)'.capitalize() %> <%= f.telephone_field :lphone, :class => 'title simple', :maxlength => 10, :style => 'width:20%' %>
				<%= f.label :email %>
				<%= f.text_field :email, :class => 'title simple', :maxlength => 100, :style => 'width:271px;' %>
			</div>

			<div>
				<%= f.label 'Referred By' %>
				<%= f.text_field :referrer_member_id, :class => 'title simple', :maxlength => 20, :style => 'width:40%' %>
				<%= f.label 'Employee Number' %>
				<%= f.text_field :employee_no, :class => 'title simple', :maxlength => 20, :style => 'width:201px' %>
			</div>

			<div>
				<%= f.label 'Membership #' %>
				<%= f.text_field :membership_no, :class => 'title simple', :maxlength => 7, :style => 'width:40%' %>
				<%= f.label 'Form #' %>
				<%= f.text_field :application_no, :class => 'title simple', :maxlength => 20, :style => 'width:254px' %>
			</div>

			<div class="span-17 heading" style='margin-top:25px'>
				Enter Payment Details
			</div>

			<div>
				<em>Thank you for signing up 
				<% if @plan.subscription -%> 
					for <b><%= pluralize(@signup.signup_months, 'month') %> </b>
				<% end -%>
				for the <b><%= @plan.name %></b> plan. Changed your mind? <%= link_to 'Back to plans', :controller => "plans", :signUpMonths => @signup.signup_months %> .</em>
			</div>
			
			<br/>
			<div class='span-10' >
				<div class='span-6' style='text-align:left'><%= f.label :security_deposit %> </div>
				<div class='span-3 last' style='text-align:right'><%= f.label @plan.security_deposit  %></div>
				<div class='span-6' style='text-align:left'><%= f.label :registration_fee %> </div>
				<div class='span-3 last' style='text-align:right'><%= f.label @plan.registration_fee  %></div>
				
				<div class='span-6' style='text-align:left'><%= f.label :reading_fee %>  
					<% if @plan.subscription -%>
						( <%= @plan.monthly_amount %> for <%= pluralize(@plan.pay_months_for_term(@signup.signup_months), 'month') %> )
					<% end -%>
				</div>
				<div class='span-3 last' style='text-align:right'><%= f.label @plan.reading_fee_for_term(@signup.signup_months)  %></div>
				
				<div class='span-6' style='text-align:left'><%= f.label :discount %></div>
				<div class='span-3 last' style='text-align:right'><%= f.number_field :discount, :disabled => true, :class => 'title simple', :style => 'width:50px'  %></div>
				
				<div class='span-6' style='text-align:left'><%= f.label 'Total' %></div>
				<div class='span-3 last' style='text-align:right'><%= f.label @plan.total_due_for_term(@signup.signup_months) %></div>
				<br/>
			</div>
			
			<hr/>
			<div class='span-17'>
					<div class='span-2'>Paid By</div>
					<div class='span-12'>
						Cash <%= f.radio_button :payment_mode, Signup::PAYMENT_MODES[:cash], {:checked => true} %>
						<span>
							Check <%= f.radio_button :payment_mode, Signup::PAYMENT_MODES[:check] %>
							<span id='signup_check_div' style='display:none'>Check No: <%= f.text_field :check_no, :class => 'text simple', :style => 'width:100px;font-size:85%', :maxlength => 8 %></span>
						</span>
						<span>
							Card <%= f.radio_button :payment_mode, Signup::PAYMENT_MODES[:card] %>
							<span id='signup_card_div' style='display:none'>Card No: <%= f.text_field :card_no, :class => 'text simple', :style => 'width:50px;font-size:85%', :maxlength => 4 %></span>
						</span>
					</div>
			</div>
			<hr/>
			<div class='span-17'><%= f.submit %></div>
		<% end -%>
	</div>

</div>
