<div id="<%= "chart_ibtr_#{counter}" %>" class="stockchart">
	<br/>
</div>

<%= content_for :javascript do -%>

//load JSON data.  
IBTapp.ChartData["<%= "infovis#{counter}" %>"] = <%= raw jitBarChart(title_id).to_json %>;
//IBTapp.Charts["<%= "infovis#{counter}" %>"].loadJSON(<%= raw jitBarChart(title_id).to_json %>);


<% end -%>