<!DOCTYPE html>
<html>
<head>
  <title>Ibt</title>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen,projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <!--[if lt IE 8]><stylesheet_link_tag 'ie.css' media='screen, projection'><![endif]-->

  <%= stylesheet_link_tag 'plugins/fancy-type/screen.css', :media => 'screen, projection' %>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="container showgrid" >
	<div class="span-24" >
		<div class="span-1 ">1</div>
		<div class="span-1 ">2</div>
		<div class="span-1 ">3</div>
		<div class="span-1 ">4</div>
		<div class="span-1 ">5</div>
		<div class="span-1 ">6</div>
		<div class="span-1 ">7</div>
		<div class="span-1 ">8</div>
		<div class="span-1 ">9</div>
		<div class="span-1 ">10</div>
		<div class="span-1 ">11</div>
		<div class="span-1 ">12</div>
		<div class="span-1 ">13</div>
		<div class="span-1 ">14</div>
		<div class="span-1 ">15</div>
		<div class="span-1 ">16</div>
		<div class="span-1 ">17</div>
		<div class="span-1 ">18</div>
		<div class="span-1 ">19</div>
		<div class="span-1 ">20</div>
		<div class="span-1 ">21</div>
		<div class="span-1 ">22</div>
		<div class="span-1 ">23</div>				
		<div class="span-1 last">24</div>		
	</div>
	<div class="span-23 colborder" >
		<div class="span-1 colborder">1</div>
		<div class="span-1 colborder">2</div>
		<div class="span-1 colborder">3</div>
		<div class="span-1 colborder">4</div>
		<div class="span-1 colborder">5</div>
		<div class="span-1 colborder">6</div>
		<div class="span-1 colborder">7</div>
		<div class="span-1 colborder">8</div>
		<div class="span-1 colborder">9</div>
		<div class="span-1 colborder">10</div>
		<div class="span-1 colborder">11</div>
		<div class="span-1 last">12</div>
	</div>	
	<div class="span-23 colborder box" >
		<div class="span-1 prepend-1 colborder">1</div>
		<div class="span-1 prepend-2 colborder">2</div>
		<div class="span-1 last">12</div>
	</div>	
	<div class="span-23 colborder last" >
		Header
	</div>
	<div class="span-3 colborder" >
		<h3>Left sidebar</h3>
		<h3 class="alt">Left sidebar</h3>

	</div>
	
	<div class="span-15 colborder">
		<div class="span-6 " >
			Box1
		</div>
		<div class="span-3 " >
			Box2
		</div>
		<div class="span-3  last" >
			Box3
		</div>
		<div class="span-15  last">
			Main content
		</div>
	</div>
	
	<div class="span-2 last colborder" >
		Right sidebar
	</div>
	
	<div class="span-23  last colborder" >
		Footer
	</div>
</div>