<div class="span-24">
	<br/>
</div>
<div class="span-16	">
	<div class="span-15 push-1 last">
		<br/>
		<br/>
		<br/>				
		<h3>Open Public Access Catalogue</h3>
		<h4>Our collection:</h4>		
		<ul>
			<li> <%= pluralize(titlecount, 'title') %> </li>
			<li> <%= pluralize(bookcount, 'book') %> </li>
			<li> <%= pluralize(membercount, 'member') %> </li>
			<li> <%= pluralize(librarycount, 'library') %> </li>
		</ul>
	</div>
</div>
<div class="box span-7 last">
	<h2>Sign in</h2>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <p><%= f.label :username %>
		  <%= f.text_field :username, :size => 20 %></p>

		  <p><%= f.label :password %>
		  <%= f.password_field :password, :size => 20 %></p>

		  <% if devise_mapping.rememberable? -%>
		    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
		  <% end -%>
			<p><%= flash[:alert] %></p>
		  <p><%= f.submit "Sign in" %></p>
		
			<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
			  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
			<% end -%>
	<% end %>
</div>
<div class="box span-7 push-16 last">
	<br/>
	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
		<span> New to Justbooks? Plans starting </span><span class='WebRupee'>Rs.</span> 150 / month.</span><br/><br/>
	  <%= link_to "Sign up", new_registration_path(resource_name), :class => "signup_button round" %><br />
		<div class="span-3">
	  <%= link_to "About JustBooks", new_registration_path(resource_name)  %>
		</div>
		<div class="span-3 push-1">
	  <%= link_to "About Strata Labs", new_registration_path(resource_name)  %>
		</div>
	<% end -%>
</div>
