<div class="span-14">
	<div class="span-14">	
		<div class="span-5">
			<h5>Request: <%= ibtr.id %></h5>
		</div>
		<div class="span-8">
			<h6 style="float:right"><%= distance_of_time_in_words(ibtr.created_at, Time.now) %> ago</h6>
		</div>
	</div>
	<div id = "<%= "flash_#{ibtr.id}" %>" class="span-8">
	</div>
	<div id = "<%= "div_#{ibtr.id}" %>" class="span-14">
		<div class="span-13">
			<div class="span-10">
				<%= form_for ibtr, :remote => :true, :html => {:autocomplete => :off}  do |f| -%>
					<%= f.label :state %>: <%= f.text_field :state, :readonly => true, :class => :readonly %>					
					<br/>
					#<%= ibtr.branch_id %>:
					<%= link_to_unless(ibtr.branch.nil?, ibtr.branch.name, '#') %> 
					<br/>
					<%= membership_info(ibtr.card_id)%>
					<br/>
				 	#<%= link_to_function ibtr.title_id, "$('#alt_#{ibtr.id} input#title_id').val(#{ibtr.title_id});$('#alt_#{ibtr.id}').submit();" %>:
					<%= link_to_unless(ibtr.title.nil?, ibtr.title.title, '#') %> 
					<br/>
					<br/>
					<%= f.label :respondent %>: <%= f.text_field :respondent_id, :readonly => true, :size => 1, :class => :readonly %> 
					<%= link_to_unless(ibtr.respondent.nil?, ibtr.respondent.name, '#', {:id =>'ibtr_respondent_name'}) %>
					<br/>
					<br/>
					<%= f.hidden_field :event %>
					<%= button_to_function "Cancel",  "$('#edit_ibtr_#{ibtr.id} input#ibtr_event').val('cancel');$('#edit_ibtr_#{ibtr.id}').submit();"%>
					<%= button_to_function "Decline",  "$('#edit_ibtr_#{ibtr.id} input#ibtr_event').val('decline');$('#edit_ibtr_#{ibtr.id}').submit();"%>
					<%= button_to_function "Fulfill",  "$('#edit_ibtr_#{ibtr.id} input#ibtr_event').val('fulfill');$('#edit_ibtr_#{ibtr.id}').submit();"%>					
				<% end -%>
			</div>
			<div class="span-2">
				<%= image_tag image_url(ibtr.title_id), :size => "100x150", :alt => 'No Image', :id => "img_#{ibtr.id}" %>
			</div>
			<br/>
		</div>

		<div class="span-13">
			<%= form_tag('/stock/show', :id => "alt_#{ibtr.id}", :method=>'get', :remote => true, :autocomplete => :off) do -%>
				<%= label_tag :title_id, 'Alternate Title Id' %>
				<%= text_field_tag :title_id, params[:title_id], :onchange => "$('#alt_#{ibtr.id}').submit();", :size => 15  %>
				<%= text_field_tag "title_#{ibtr.id}", params[:title_name], :disabled => true, :size => 30  %>
				<%= hidden_field_tag :result, params[:result], :value => "#{ibtr.id}" %>
			<% end -%>
		</div>

		<div class="span-13">
			<%= render :partial => '/statistics/view', :locals => { :counter => ibtr.id, :title_id => ibtr.title_id } %>
		</div>
	</div>
</div>
<br/>
<hr/>
