<div class="span-14">
	<div class="span-14">	
		<div class="span-5">
			<h4><%= "#{ibtr.state} Request: #{ibtr.id}" %></h4>
		</div>
		<div class="span-8">
			<h5 style="float:right"><%= distance_of_time_in_words(ibtr.created_at, Time.now) %> ago</h5>
		</div>
	</div>
	<div id = "<%= "flash_#{ibtr.id}" %>" class="span-8">
	</div>
	<div id = "<%= "div_#{ibtr.id}" %>" class="span-14">
		<div class="span-13">

			<div class="span-11" id = "<%= "div_req_#{ibtr.id}" %>">
				<%= render :partial => 'request', :locals => { :ibtr => ibtr } %>
			</div>

			<div class="span-11" id = "<%= "div_ass_#{ibtr.id}" %>" style="display:none">
				<%= render :partial => 'assign', :locals => { :ibtr => ibtr } %>
			</div>

			<div class="span-11" id = "<%= "div_alt_#{ibtr.id}" %>" style="display:none">
				<%= render :partial => 'alternate', :locals => { :ibtr => ibtr } %>
			</div>

			<div class="span-11" id = "<%= "div_can_#{ibtr.id}" %>" style="display:none">
				<%= render :partial => 'cancel', :locals => { :ibtr => ibtr } %>
			</div>

			<div class="span-11" id = "<%= "div_pro_#{ibtr.id}" %>" style="display:none">
				<%= render :partial => 'procure', :locals => { :ibtr => ibtr } %>
			</div>

			<div class="span-1 push-1">
				<%= image_tag image_url(ibtr.title_id), :size => "100x150", :alt => 'No Image', :id => "img_#{ibtr.id}" %>
			</div>

			<br/>
		</div>
		<div class="span-13" style="margin-top:10px;display:none">
			<%= link_to_function "Show History", "", :id => "toggle_history_#{ibtr.id}", :class => "toggle_history"%>
			(<%= ibtr.versions.length %>)
			<%= link_to_function "Hide Stock", "", :id => "toggle_stock_#{ibtr.id}", :class => "toggle_stock"%>			
		</div>
		<div id=<%= "history_#{ibtr.id}" %> class="span-13 scroll-pane" style="height:160px;overflow-y:scroll;display:none">
			<table summary="History" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th>#</th>
					<th>Title</th>
					<th colspan="3">Event</th>
				</tr>
				<%= render :partial => 'ibtrversion', :collection => ibtr.versions.reverse %>
			</table>
		</div>
		<div class="span-13;" style="display:none">
			<%= form_tag('/stock/show', :id => "alt_#{ibtr.id}", :method=>'get', :remote => true, :autocomplete => :off) do -%>
				<%= label_tag :title_id, 'Alternate Title Id' %>
				<%= text_field_tag :title_id, params[:title_id], :onchange => "$('#alt_#{ibtr.id}').submit();", :size => 15  %>
				<%= text_field_tag "title_#{ibtr.id}", params[:title_name], :disabled => true, :size => 30  %>
				<%= hidden_field_tag :result, params[:result], :value => "#{ibtr.id}" %>
			<% end -%>
		</div>

	</div>
</div>
<br/>