Member <%= link_to "#{ibtr.member_id}", ibtrs_path(:member_id => "#{ibtr.member_id}") %>,
with card <%= link_to "#{ibtr.card_id}", ibtrs_path(:card_id => "#{ibtr.card_id}") %>
has requested for
	#<%= link_to_function ibtr.title_id, "$('#alt_#{ibtr.id} input#title_id').val(#{ibtr.title_id});$('#alt_#{ibtr.id}').submit();" %>:
<% unless ibtr.title.nil? -%>
	<%= link_to ibtr.title.title, '#' %> 
<% end -%>
<br/>
via
#<%= ibtr.branch_id %>:
<% unless ibtr.branch.nil? -%>
	<%= link_to ibtr.branch.name, '#' %> 
<% end -%>.
<div class="span-13">
		<br/>
		See stock position to decide which branch this request should be 
		<%= link_to_function "assigned.", "IBTapp.showPanel(#{ibtr.id}, 'div_ass_#{ibtr.id}')" %>
		<br/>
		If there are no stocks, then you may decide to either
		<%= link_to_function "cancel", "IBTapp.showPanel(#{ibtr.id}, 'div_can_#{ibtr.id}')" %> the request, proceed for 
		<%= link_to_function "procurement.", "IBTapp.showPanel(#{ibtr.id}, 'div_pro_#{ibtr.id}')" %> or
		choose an <%= link_to_function "alternate title.", "IBTapp.showPanel(#{ibtr.id}, 'div_alt_#{ibtr.id}')" %>
</div>

