<div class="span-4 colborder">
	<div class="span-4">
		<p></p>
		<p><%= link_to "New Requests", ibtrs_path(:state => 'New') %> </p>
		<p><%= link_to "Assigned Requests", ibtrs_path(:state => 'Assigned') %> </p>
		<p><%= link_to "Declined Requests", ibtrs_path(:state => 'Declined') %> </p>
		<p><%= link_to "Fulfilled Requests", ibtrs_path(:state => 'Fulfilled') %> </p>
		<p><%= link_to "Cancelled Requests", ibtrs_path(:state => 'Cancelled') %> </p>
		<p><%= link_to "Dispatched Requests", ibtrs_path(:state => 'Dispatched') %> </p>
		<p><%= link_to "Received Requests", ibtrs_path(:state => 'Received') %> </p>
		<p><%= link_to "All Requests", ibtrs_path %>	</p>
	</div>
	<hr/>
	<div class="span-4">
		<p></p>
		<p><%= link_to "Search", ibtrs_search_path %>	</p>
	</div>	
</div>

<div class="span-14">
	<h4><%= "Showing All #{params[:state]} Requests" %><%= " for #{params[:card_id]}" unless params[:card_id].nil? %> (<%= @ibtrs.total_entries %>)</h4>
	<br/>
	<%= will_paginate(@ibtrs) %>
	<hr/>
	<%= render :partial => "ibtr", :collection => @ibtrs, :spacer_template => "ibtr_spacer" %>
</div>