<%= javascript_tag :defer => 'defer' do -%>
	$(document).ready(function () {
		IBTapp.initSearchForm('<%= params[:searchBy] %>', true);
	});
<% end -%>
<div class="span-24">
	<%= form_tag ibtrs_search_path, :class=>'ibtrSearch', :method => 'get' do -%>
			<%= field_set_tag 'Search' do %>
				<%= label_tag 'Search By:'%>
				<%= select_tag :searchBy, options_for_select([['Card',:card_id],['Member',:member_id],['Title',:title_id],['Requesting Branch',:branch_id],['Respondent Branch',:respondent_id]], params[:searchBy]) %>
				<%= text_field_tag :searchText, params[:searchText] %>
				<%= select_tag :branchVal, options_from_collection_for_select(Branch.all, :id, :name, params[:branchVal]) %>
				<br/>
				<br/>
				<%= label_tag :New %>
				<%= check_box_tag :New,:New,params[:New] %>
				<%= label_tag :Assigned %>
				<%= check_box_tag :Assigned,:Assigned,params[:Assigned] %>
				<%= label_tag :Cancelled %>
				<%= check_box_tag :Cancelled,:Cancelled,params[:Cancelled] %>
				<%= label_tag :Fulfilled %>
				<%= check_box_tag :Fulfilled,:Fulfilled,params[:Fulfilled] %>
				<%= label_tag :Declined %>
				<%= check_box_tag :Declined,:Declined,params[:Declined] %>

				<%= submit_tag "Submit", :name => nil %>
			<% end -%>
	<% end -%>
</div>

<div class="span-24">
	<h4><%= "Total Results: #{@ibtrs.total_entries} " if defined?(@ibtrs) %></h4>
	<%= will_paginate(@ibtrs) if defined?(@ibtrs) %>
	<hr/>
	<div class="span-24">
		<div class="span-1"><br/></div>
		<div class="span-4"><h6>Created At</h6></div>
		<div class="span-2"><h6>Member</h6></div>
		<div class="span-2"><h6>Card</h6></div>
		<div class="span-2"><h6>Via</h6></div>
		<div class="span-2"><h6>State</h6></div>
		<div class="span-2"><h6>Respondent</h6></div>
		<div class="span-4"><h6>Last Updated</h6></div>
		<div class="span-2"><h6>History</h6></div>
	</div>	
	<%= render :partial => "searchResult", :collection => @ibtrs %>
</div>